.allMovie{
    width: 100%;
}
.allMovie .posters{
    display: flex;
}
.allmovimg{
    max-height: 200px;
    object-fit: contain;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}
.allmovimg:hover{
    transform: scale(1.1);
}
.allMovie>h2{
    font-weight: normal;
    padding-left: 60px;
    margin: 60px 0 20px;
}