.header{
    position: fixed;
    width: 100%;
    height: 70px;
    align-items: center;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    z-index: 100;
    background: transparent;
}
/* header scroll event */
.header-black{
    background: #141414;
}
/* hgnb_wrap */
.hgnb_wrap{
    display: flex;
    align-items: center;
    gap: 45px;
}
.header .logo{
    width: 90px;
}
.hgnb_wrap ul.gnb{
    display: flex;
    gap: 22px;
}


/* icon_wrap */
.icon_wrap{
    display: flex;
    align-items: center;
    gap: 22px;
    position: relative;
}
.header .avatar{
    width: 32px;
}
.icon_wrap span{
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}